<h2>
  hello world
</h2>

<p>
  there will be a new form here
</p>

<form>
  <label for="email">Email: </label>
  <input type="email" placeholder="Email Address" [(ngModel)]="user.email" name="email" />

  <br />
  <br />
  <label for="password">Password: </label>
  <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" />

  <br />
  <br />
  <button type="button" (click)="submit()">Sign In</button>
  <button type="button" (click)="toggleDisplay()">Sign Up for Passit</button>
</form>

<p>
  <a class="link" (click)="readAbout()">About</a>
</p>
